
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  margin: 0;
  height: 100vh;
  background: url("https://imgcdn.stablediffusionweb.com/2024/3/19/49925953-5f53-4394-9e6a-52b3759cebc4.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); 
  padding-top: 70px;
}


.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  
}


.logo img {
  height: 60px;
  position: absolute;
  left: 25px;
  top: 4px;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));

}

.nav-title {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: bold;
  color: #f6f9ff;
  text-shadow: gold 2px 2px 4px;
  animation: fadeInSlide 5s ease-in-out infinite alternate;
}


.app-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px 30px;
  border-radius: 20px;
  border-color: #0e0d0d;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
  transition: transform 0.3s ease;
}

.app-container:hover {
  transform: scale(1.02);
}


.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  width: 100%;
  justify-content: center;
}

input#city-input {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 70%;
  font-size: 16px;
  outline: none;
}

button#search-button {
  padding: 10px 15px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button#search-button:hover {
  background-color: #357ab7;
}


.weather-info {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.weather-info h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #444;
  font-weight: bold;
  letter-spacing: 1px;
}

.weather-info img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}

.weather-info h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #222;
}

.weather-info .time {
  font-size: 14px;
  color: #777;
}

.weather-info .temperature {
  font-size: 22px;
  font-weight: bold;
  color: #ff8800;
  margin-top: 10px;
}
